body {
    font-family: 'Montserrat', sans-serif;
}
.carousel-text {
    position: absolute;
    top: 80%;
    width:100%;
    left: 1.8%;
    height: 20%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.carousel-text span{
    background-color: #000;
    padding: 10px 20px;
    width:100%;
}

.card-title{
    font-size: 15px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.bread-crumbs {
    margin-top: 25px;
}

.bread-crumbs > a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.product-detail {
    margin-top: 20px;
    background: #fff;
    padding: 40px;
}

.product-description {
    margin: 20px 0;
}

.product-price {
    margin: 20px 0;
}

.quantity > .input-group{
    width: 140px;
    margin-bottom: 30px;
}

.action{
    display: block
}

i.fas {
    margin-right: 5px;
}

.btn-lego-red {
    color: white;
    background-color: #fe0100;
}
